@import "theme.less";

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-size: cover;
  background-color: @color-bg;
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-family: @typography-default-font-family;
  font-size: @typography-default-font-size;
  font-weight: @typography-default-font-weight;
  color: @color-font;
}

.container {
  margin: 0 auto 0 auto;
  padding: @spacing-lg @spacing-lg;
  text-align: center;
}
