
@breakpoint-sm: 720px;
@breakpoint-md: 1280px;
@breakpoint-sm-min: 0px;
@breakpoint-md-min: 721px;
@breakpoint-lg-min: 1281px;
@breakpoint-sm-name: sm;
@breakpoint-md-name: md;
@breakpoint-lg-name: lg;

@color-primary: #26d9d9;
@color-primary-dark: #1b9898;
@color-primary-light: #67e4e4;

@color-secondary: #86B1FF;
@color-secondary-dark: #5186F8;
@color-secondary-light: #86B1FF;

@color-bg: rgb(70, 70, 70);
@color-bg-dark: rgba(32, 32, 32);
@color-bg-light: rgba(108, 108, 108);

@color-form: rgb(51, 51, 51);

@color-font: magenta;
@typography-default-font-family: "Roboto", sans-serif;
@typography-default-font-size: 20px;
@typography-default-font-weight: 400;

@typography-default-h1-font-size: 3em;
@typography-default-h1-font-weight: 700;
@typography-default-h2-font-size: 2.25em;
@typography-default-h2-font-weight: 700;
@typography-default-h3-font-size: 1.875em;
@typography-default-h3-font-weight: 700;
@typography-default-h4-font-size: 1.5em;
@typography-default-h4-font-weight: 700;
@typography-default-h5-font-size: 1.25em;
@typography-default-h5-font-weight: 700;
@typography-default-h6-font-size: 1.125em;
@typography-default-h6-font-weight: 700;
@typography-default-p-font-size: 1em;
@typography-default-p-font-weight: 400;

@typography-button-font-size: 1em;
@typography-button-font-weight: 500;

@color-link: #40abc4;
@color-link-hover: #418698;
@color-link-active: #61bad0;
@typography-link-font-size: 1em;
@typography-link-font-weight: 700;

@spacing-xs: 4px;
@spacing-sm: 8px;
@spacing-md: 16px;
@spacing-lg: 32px;
@spacing-xl: 64px;
@spacing-xxl: 128px;

@border-radius: 8px;