.phi {
  background-color: #278da6;
  border-radius: 8px;
  margin: 32px 0 32px 0;
}

.m-md {
  margin-top: 32px;
}

.m-sm {
  margin-top: 16px;
}

.footer {
  height: 64px;
}

.col {
  display: flex;
  flex-direction: column;
}
